* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    border: 1px solid black;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
    height: 660px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: space-between;
}

main>* {
    margin: 10px 25px;
}

.sideinfo {
    display: flex;
    align-items: center;
}

section p,
section img {
    margin: 5px;
}

#mainimg {
    width: 350px;
    border-radius: 10px;
    margin: 25px auto;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: x-large;
}

p {
    font-size: 18px;
    font-weight: 300;
}

.ethereum {
    font-weight: 600;
}

#mainText,
.clock,
.credit {
    color: hsl(215, 51%, 70%);
}

.ethereum {
    color: hsl(178, 100%, 50%);
}

hr {
    border: 1px solid hsl(215, 32%, 27%);
}

.avatar {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

span {
    color: white;
}